<div class="page page-general">
  <h4>Config page</h4>
  <div class="col-lg-12">
    <div class="row">
      <div class="panel">
        <div class="panel-body">
          <div class="pull-left">
            <ul ng-repeat="catalog in catalogs">
              <li class="list-group-item" style="padding:5px !important">
                <span ng-bind="catalog" ng-click="getCatalogEntries(catalog)"></span>
              </li>
            </ul>
          </div>
          <div class="pull-left  col-md-offset-1">
            <ul ng-repeat="entry in catalogEntries">
              <li class="list-group-item"  style="padding:5px !important">
                <span ng-bind="entry.description" ng-click="editCatalogEntry(entry)"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="currentCatalogEntry">
      <edit-catalog-entry catalog-entry="currentCatalogEntry"></edit-catalog-entry>
    </div>
  </div>

</div>
