<div class="monitoring-home">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="panel">
                <div class="panel-heading ng-binding"> {{'nav.data.sub.commonSub.search'|translate}}</div>
                <div class="panel-body">
                    <div class="panel-search-section">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="text" data-ng-model="filter.keyword"
                                       class="form-control"
                                       placeholder="{{'data.panel.search.searchPlaceholder'|translate}}">
                            </div>
                            <div class="col-xs-2">
                                <div class="pull-right">
                                    <div class="pull-right btn btn-primary" ng-click="add()" role="button" tabindex="0">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                                                <div class="row" style="margin-top: 10px">
                                                    <div class="col-xs-12">
                                                        <label class="control-label">Role in charge:</label>
                                                        <select class="form-control" data-ng-model="filter.role"
                                                                data-ng-options="role as role.name for role in userRoles track by role.id">
                                                            <option data-ng-selected="true" value="">Any roles</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px">
                                                    <div class="col-xs-12">
                                                        <label class="control-label">Pre-requisite:</label>
                                                        <select class="form-control" data-ng-model="filter.prerequisite"
                                                                data-ng-options="type for type in prerequisiteTypes">
                                                            <option data-ng-selected="true" value="">Any pre-requisite</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                -->
                    </div>
                    <hr/>

                    <div style="max-height: 100%">
                        <div class="slimScrollDiv"
                             style="position: relative; overflow: hidden; width: auto; height: 100%;">
                            <div class="filterbox-vertical" data-slim-scroll=""
                                 style="overflow: hidden; width: auto; height: 100%;">
                                <section class="panel panel-default mail-categories">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-class="{'active': selectedItem.id == item.id}"
                                            data-ng-click="edit(item)"
                                            data-ng-repeat="item in items | filter : itemsFilter | orderBy: ['prerequisiteType','name','-prerequisiteRisk.value']">
                                            <a>{{item.name }}
                                                <span class="pull-right">{{ item.prerequisiteType.name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="slimScrollBar"
                                 style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2287px;">
                            </div>
                            <div class="slimScrollRail"
                                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-6 col-lg-8" data-ng-if="selectedItem">

            <div class="panel">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-body media-middle">
                            <div class="media-heading">
                                <span>{{'nav.data.sub.commonSub.details'|translate}}</span>
                            </div>
                            <span style="text-transform: none">{{selectedItem.name}}</span>
                        </div>
                        <div class="media-right">
                            <div class="btn btn-default" title="{{'common.button.form.clone'|translate}}"
                                 data-ng-if="selectedItem.id != null" data-ng-click="clone(selectedItem)" role="button"
                                 tabindex="0">
                                <i class="fa fa-copy"></i>
                            </div>
                        </div>
                        <div class="media-right">
                            <div class="btn btn-default" title="{{'common.button.form.cancel'|translate}}"
                                 data-ng-click="cancel()" role="button" tabindex="0">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="monitoring-detail">
                        <form novalidate>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-2">
                                        <label>{{'common.tableAndForm.name.name'|translate}}:</label></div>
                                    <div class="col col-sm-10">
                                        <input type="text" data-ng-model="selectedItem.name" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-2"><label>{{'common.tableAndForm.prerequisiteType.name'|translate}}:</label>
                                    </div>
                                    <div class="col col-sm-10">
                                        <select class="form-control" data-ng-model="selectedItem.prerequisiteType"
                                                data-ng-options="type.name for type in prerequisiteTypes track by type.id">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-2"><label>{{'common.tableAndForm.frequency.name'|translate}}:</label>
                                    </div>
                                    <div class="col col-sm-10">
                                        <div class="row">
                                            <div class="col col-sm-3">
                                                <label class="ui-checkbox">
                                                    <input type="checkbox" data-ng-model="selectedItem.frequency.asNeeded"
                                                           data-ng-value="true" data-ng-disabled="selectedItem.frequency.justOnce"/>
                                                    <span>{{'common.tableAndForm.asNeeded.name'|translate}}</span>
                                                </label>
                                            </div>
                                            <div class="col col-sm-3">
                                                <label class="ui-checkbox">
                                                    <input type="checkbox" data-ng-model="selectedItem.frequency.justOnce"
                                                           data-ng-value="true" data-ng-disabled="selectedItem.frequency.asNeeded"/>
                                                    <span>{{'common.tableAndForm.justOnce.name'|translate}}</span>
                                                </label>
                                            </div>
                                            <div class="col col-sm-2 text-right">
                                                {{'common.tableAndForm.every.name'|translate}}:
                                            </div>
                                            <div class="col col-sm-2">
                                                <input type="number" min="1" class="form-control" value="1"
                                                       data-ng-disabled="selectedItem.frequency.asNeeded || selectedItem.frequency.justOnce"
                                                       data-ng-model="selectedItem.frequency.value"/>
                                            </div>
                                            <div class="col col-sm-2">
                                                <select class="form-control" data-ng-model="selectedItem.frequency.period"
                                                        data-ng-disabled="selectedItem.frequency.asNeeded || selectedItem.frequency.justOnce"
                                                        data-ng-options="period as period for period in frequencyPeriods">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-2">
                                        <label>{{'common.tableAndForm.type.name'|translate}}:</label></div>
                                    <div class="col col-sm-10">
                                        <select class="form-control" data-ng-model="selectedItem.type"
                                                data-ng-options="type for type in processCheckTypes">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-2"><label>{{'common.tableAndForm.description.name'|translate}}:</label>
                                    </div>
                                    <div class="col col-sm-10">
                                        <textarea class="form-control" rows="10"
                                                  data-ng-model="selectedItem.description"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-2">
                                        <label>{{'common.tableAndForm.privacy.name'|translate}}:</label></div>
                                    <div class="col col-sm-10">
                                        <input type="checkbox" data-ng-model="selectedItem.privacy">
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div>
                            <button class="btn btn-primary pull-right" type="button" ng-click="save(selectedItem)"
                                    data-ng-disabled="!isValid(selectedItem)">
                                {{'common.button.form.save'|translate}} &nbsp; <i
                                    class="glyphicon glyphicon-floppy-disk"></i></button>
                            <button class="btn btn-default" type="button" ng-click="delete(selectedItem)"
                                    data-ng-if="selectedItem.id != null">
                                {{'common.button.form.delete'|translate}} &nbsp; <i
                                    class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>