<div class="prerequisite-water-supply full-width">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div>
				{{'nav.prerequisites.sub.flows'|translate}}

				<div class="inline" style="margin-left:20px">
					<div class="dropdown inline">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuAdd"
						        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
						        data-ng-class="{'btn-primary' : command.type != undefined}">
							{{'common.button.form.add'|translate}} &nbsp;&nbsp; <i class="glyphicon glyphicon-pencil"></i>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuAdd">
							<li data-ng-repeat="shapeType in shapeTypes" data-ng-show="shapeType !== 'ANCHORPOINT'">
								<a data-ng-click="add(shapeType)">{{shapeType}} </a>
							</li>
						</ul>
					</div>
					<button class="btn btn-default" data-ng-class="{'btn-primary' : mode == MODE.SHOW_DIAGRAMS}"
					        data-ng-click="showDiagrams()">{{'common.button.prerequisites.diagrams'|translate}}&nbsp;&nbsp;
						<i class="glyphicon glyphicon-duplicate"></i>
					</button>
				</div>

			</div>
		</div>
		<div class="panel-body">

			<div class="panel-body">

				<flow-chart  data-ng-if="mode == MODE.SHOW_CHART"
				             data-command="command"></flow-chart>

				<flow-diagrams  data-ng-if="mode == MODE.SHOW_DIAGRAMS"></flow-diagrams>

			</div>

		</div>
	</div>
</div>
