<div class="task-perform-modal">
    <form novalidate name="form">
        <div class="modal-header">
            <h3 class="modal-title">{{'nav.tasks.sub.commonSub.perform'|translate}}</h3>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <div class="row">
                    <div class="col col-sm-6">
                        <label class="ui-radio">
                            <input name="radio1" required type="radio" data-ng-value="true" data-ng-model="item.result"
                                   data-ng-disabled="!editMode">
                            <span>{{'common.tableAndForm.monitoringPositive.name'|translate}}</span>
                        </label>
                    </div>
                    <div class="col col-sm-6">
                        <label class="ui-radio">
                            <input name="radio1" required type="radio" data-ng-value="false" data-ng-model="item.result"
                                   data-ng-disabled="!editMode">
                            <span>{{'common.tableAndForm.monitoringNegative.name'|translate}}</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col col-xs-3">
                        <label data-ng-class="{'text-danger': form.attachment.$invalid}">{{'common.tableAndForm.report.name'|translate}}</label>
                    </div>
                    <div class="col col-xs-9" data-ng-if="editMode">
                        <attachment data-ng-model="item.attachment" name="attachment"></attachment>

						<span class="text-danger"
                              data-ng-show="form.attachment.$dirty && form.attachment.$error.reachability">
							risorsa remota non raggiungibile
						</span>

                    </div>
                    <div class="col col-xs-9" data-ng-if="!editMode">
                        <attachment data-ng-model="item.attachment" readonly></attachment>
                    </div>
                </div>
            </div>

            <hr/>
            <label>{{'common.tableAndForm.note.name'|translate}}:</label>
            <textarea data-ng-if="editMode" class="form-control" data-ng-model="item.note" rows="5"></textarea>
            <pre data-ng-if="!editMode" data-ng-bind-html="item.note"></pre>

        </div>
        <div class="modal-footer">
            <div data-ng-if="editMode">
                <button class="btn btn-danger" data-ng-if="item.result == false" data-ng-click="addNoncompliance(item)">
                    {{'common.button.task.nonCompliance'|translate}} &nbsp;<i class="glyphicon glyphicon-alert"></i>
                </button>
                <button class="btn btn-primary" data-ng-disabled="form.$invalid" type="button" ng-click="save(form)">
                    {{'common.button.form.save'|translate}}
                </button>
                <button class="btn btn-default pull-left" type="button" ng-click="cancel()">
                    {{'common.button.form.cancel'|translate}}
                </button>
            </div>
            <div data-ng-if="!editMode">
                <button class="btn btn-danger" data-ng-if="item.result == false" data-ng-click="addNoncompliance(item)">
                    {{'common.button.task.nonCompliance'|translate}} &nbsp;<i class="glyphicon glyphicon-alert"></i>
                </button>
                <button class="btn btn-default  pull-left" type="button" ng-click="cancel()">
                    {{'common.button.form.close'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>