<div class="prerequisites-audits-detail-modal">
	<div class="modal-header">
		<h3 class="modal-title">{{'nav.prerequisites.sub.commonSub.material'|translate}}</h3>
	</div>
	<div class="modal-body">

		<form name="form" novalidate>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>{{'common.tableAndForm.name.name'|translate}}:</label></div>
					<div class="col col-sm-10">
						<input class="form-control"  data-ng-model="item.name" name="name" required>
						<small class="text-danger" data-ng-if="form.name.$dirty && form.name.$error.required" >
							{{'common.tableAndForm.requiredField.name'|translate}}
						</small>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>{{'common.tableAndForm.description.name'|translate}}:</label>
					</div>
					<div class="col col-sm-10">
						<input class="form-control" data-ng-model="item.description" name="description">
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>{{'common.tableAndForm.supplier.name'|translate}}:</label>
					</div>
					<div class="col col-sm-10">
						<select class="form-control"
						        data-ng-model="item.supplier"
						        data-ng-options="supplier as supplier.name for supplier in suppliers track by supplier.id" name="supplier" required>
						</select>
						<small class="text-danger" data-ng-if="form.supplier.$dirty && form.supplier.$error.required" >
							{{'common.tableAndForm.requiredField.name'|translate}}
						</small>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>{{'common.tableAndForm.category.name'|translate}}:</label>
					</div>
					<div class="col col-sm-10">
						<select class="form-control"
						        data-ng-model="item.materialCategory"
						        data-ng-options="materialCategory as materialCategory.name for materialCategory in categories track by materialCategory.id" name="category" required>
						</select>
						<small class="text-danger" data-ng-if="form.category.$dirty && form.category.$error.required" >
							{{'common.tableAndForm.requiredField.name'|translate}}
						</small>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>{{'common.tableAndForm.type.name'|translate}}:</label>
					</div>
					<div class="col col-sm-10">
						<input class="form-control"
						        data-ng-model="item.type"
						        data-ng-disabled="true" name="type" required>
						<small class="text-danger" data-ng-if="form.type.$dirty && form.type.$error.required" >
							{{'common.tableAndForm.requiredField.name'|translate}}
						</small>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>{{'common.tableAndForm.attachment.name'|translate}}:</label>
					</div>
					<div class="col col-sm-10">
						<attachment data-ng-model="item.attachment"></attachment>
					</div>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary pull-right" type="button" ng-click="save(form)">
			{{'common.button.form.save'|translate}}
		</button>
		<button class="btn btn-default pull-left" type="button" ng-click="close()">
			{{'common.button.form.cancel'|translate}}
		</button>
	</div>
</div>