<div class="ccp full-width">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div>
				{{'task.tab.ccp'|translate}}
				<div class="inline" style="margin-left:20px">
					<button class="btn btn-primary"
							data-ng-click="showMonitorings()">{{'common.button.form.save'|translate}}&nbsp;&nbsp;
						<i class="glyphicon glyphicon-plus"></i>
					</button>
					<button class="btn btn-default" data-ng-class="{'btn-primary' : mode == MODE.SHOW_MONITORINGS}"
							data-ng-click="showMonitorings()">{{'common.button.prerequisite.monitorings'|translate}}&nbsp;&nbsp;
						<i class="glyphicon glyphicon-duplicate"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="panel-body">

			<table class="table table-condensed">
				<thead>
				<tr>
					<th>{{'common.lableField.id'|translate}}</th>
					<th>{{'common.lableField.name'|translate}}</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
			</table>

		</div>
	</div>
</div>