<div class="monitoring-detail-modal">
    <div class="modal-header">
        <h3 class="modal-title" data-ng-if="editMode">{{ originalItem.id ? 'nav.nonCompliance.sub.commonSub.update' :
            'nav.nonCompliance.sub.commonSub.add' | translate}}</h3>
        <h3 class="modal-title" data-ng-if="!editMode">{{'nav.nonCompliance.sub.commonSub.details'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="monitoring-detail">
            <form name="form" novalidate>

                <div data-ng-if="item.processCheck == null && item.systemCheckRequirement == null">
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <div class="col col-sm-3" data-ng-if="item.context.className === 'FlowElement'">
                                    <label>{{'common.tableAndForm.phase.name'|translate}}:</label>
                                </div>
                                <div class="col col-sm-3" data-ng-if="item.context.className !== 'FlowElement'">
                                    <label>{{'common.tableAndForm.prerequisite.name'|translate}}:</label>
                                </div>
                                <div data-ng-if="originalItem.context == null">
                                    <div class="col col-sm-3">
                                        <select class="form-control" data-ng-model="prerequisiteType"
                                                data-ng-options="option for option in prerequisiteTypes"
                                                name="prerequisiteType" required></select>

                                        <small class="text-danger"
                                               data-ng-if="form.prerequisiteType.$dirty && form.prerequisiteType.$error.required">
                                            This is a required field!
                                        </small>
                                    </div>
                                    <div class="col col-sm-6">
                                        <select class="form-control" data-ng-model="item.context.id"
                                                data-ng-if="prerequisiteType" name="context" required
                                                data-ng-options="option.context.id as '[' + option.prerequisiteType.name + '] - ' + option.name for option in prerequisites | filter : { prerequisiteType : { name : prerequisiteType } } : true"></select>

                                        <small class="text-danger"
                                               data-ng-if="form.context.$dirty && form.context.$error.required">
                                            This is a required field!
                                        </small>
                                    </div>
                                </div>
                                <div data-ng-if="originalItem.context != null && prerequisites">
                                    <div data-ng-if="item.context.className === 'FlowElement'">
                                        <div class="col col-sm-9">
                                            <span>{{ item.context.subject }}</span>
                                        </div>
                                    </div>
                                    <div  data-ng-if="item.context.className !== 'FlowElement'">
                                        <div class="col col-sm-9"
                                             data-ng-init="prerequisite = (prerequisites | filter : { context : { id : item.context.id } } : true)[0]">
                                            <span>[{{ prerequisite.prerequisiteType.name }}] - <strong>{{ prerequisite.name }}</strong></span>
                                            <br/>
                                            <span data-ng-if="prerequisite.description">{{prerequisite.description}}<br/></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>


                <fieldset>
                    <div class="form-group" data-ng-if="item.startDate && item.id">
                        <div class="row">
                            <div class="col col-sm-3">
                                <label>{{'common.tableAndForm.creationDate.name'|translate}}:</label></div>
                            <div class="col col-sm-9">
                                {{ item.startDate | date : 'dd-MMM-yyyy'}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3">
                                <label>{{'common.tableAndForm.description.name'|translate}}:</label></div>
                            <div class="col col-sm-9">
                                <textarea class="form-control" data-ng-model="item.description" name="description"
                                          rows="3" data-ng-disabled="!editMode" required></textarea>
                                <small class="text-danger"
                                       data-ng-if="form.description.$dirty && form.description.$error.required">
                                    This is a required field!
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3">
                                <label>{{'common.tableAndForm.productsTreatment.name'|translate}}:</label></div>
                            <div class="col col-sm-9">
                                <textarea class="form-control" data-ng-model="item.treatment" rows="3"
                                          data-ng-disabled="!editMode">></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3"><label>{{'common.tableAndForm.retrieval.name'|translate}}:</label>
                            </div>
                            <div class="col col-sm-9">
                                <textarea class="form-control" data-ng-model="item.retrieval" rows="4"
                                          data-ng-disabled="!editMode">></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3"><label>{{'common.tableAndForm.causes.name'|translate}}:</label>
                            </div>
                            <div class="col col-sm-9">
                                <textarea class="form-control" data-ng-model="item.causes" rows="4"
                                          data-ng-disabled="!editMode">></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3">
                                <label>{{'common.tableAndForm.corrections.name'|translate}}:</label></div>
                            <div class="col col-sm-9">
                                <textarea class="form-control" data-ng-model="item.corrections" rows="3"
                                          data-ng-disabled="!editMode">></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3"><label>{{'common.tableAndForm.checks.name'|translate}}:</label>
                            </div>
                            <div class="col col-sm-9">
                                <textarea class="form-control" data-ng-model="item.checks" rows="4"
                                          data-ng-disabled="!editMode"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-if="item.closeDate">
                        <div class="row">
                            <div class="col col-sm-3">
                                <label>{{'common.tableAndForm.closedDate.name'|translate}}:</label></div>
                            <div class="col col-sm-9">
                                {{ item.closeDate | date : 'dd-MMM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-ng-if="editMode && !item.closeDate && item.id && item.startDate">
                        <div class="row">
                            <div class="col col-sm-3"><label>{{'common.tableAndForm.closedDate.name'|translate}}</label>
                            </div>
                            <div class="col col-sm-9">
                                <label class="ui-checkbox">
                                    <input type="checkbox" data-ng-click="closeNoncompliance(item)"/>
                                    <span>{{'nonCompliance.closeNonCompliance'|translate}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div>
            <div data-ng-if="editMode">
                <button class="btn btn-primary pull-right" type="button" ng-click="save(form)"
                        data-ng-disabled="item == null || (item.processCheck == null && item.systemCheckRequirement == null && item.context == null)">
                    {{ item.id != null ? ('common.button.form.update'|translate) :
                    ('common.button.form.startDate'|translate) }}
                </button>
            </div>

            <button class="btn btn-default" type="button" ng-click="cancel()">{{'common.button.form.close'|translate}}
            </button>

        </div>
    </div>
</div>