<div class="user-role-home">

    <div class="row">
        <div class="col-md-4" data-ng-class="{'hidden-sm hidden-xs' : selected.item}">
            <div class="panel">
                <div class="panel-heading"> {{'nav.people.sub.commonSub.search'|translate}} </div>

                <div data-ng-if="itemsLoading">
                    <br/><br/>
                    <h4 class="text-primary text-center">
                        <i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
                    </h4>
                    <br/><br/><br/><br/>
                </div>

                <div class="panel-body" data-ng-if="!itemsLoading">
                    <div class="panel-search-section">
                        <div class="row">
                            <div class="col-xs-10">
                                <input id="searchUsers" type="text" data-ng-model="filter.keyword"
                                       class="form-control" placeholder="{{'people.panel.search.searchPlaceholder'|translate}}">{{keywordFilter}}
                            </div>
                            <div class="col-xs-2">
                                <div class="pull-right">
                                    <div class="pull-right btn btn-primary" data-ng-click="add()" role="button" tabindex="0">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div style="max-height: 100%">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                            <div class="filterbox-vertical" data-slim-scroll="" style="overflow: hidden; width: auto; height: 100%;">

                                <section data-ng-show="!itemsLoading" class="panel panel-default mail-categories">
                                    <ul class="list-group">
                                        <li class="list-group-item" data-ng-class="{'active' : selected.item.id == item.id}"
                                            data-ng-click="edit(item)" data-ng-repeat="item in items | filter : itemsFilter">
                                            <a class="progeny-{{kinshipLevels.get(item.id)}}">{{item.name}}</a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2287px;">

                            </div>
                            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-8" >

            <div data-ng-if="loader">
                <br/><br/><br/><br/><br/>
                <h3 class="text-primary text-center">
                    <i class="fa fa-2x fa-circle-o-notch fa-spin"></i><br/>
                    <!--{{ 'loading' | translate }} -->
                </h3>
                <br/><br/><br/><br/><br/>
            </div>

            <div class="panel animate-enter-if" data-ng-if="selected.item && !loader">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-body media-middle">
                            <div class="media-heading">
                                <span>{{'nav.people.sub.commonSub.details'|translate}}</span>
                            </div>
                            <span style="text-transform: none">{{selected.item.name}}</span>
                        </div>
                        <div class="media-right">
                            <div class="btn btn-default" data-ng-click="cancel()" role="button" tabindex="0">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="user-role-detail">
                        <form novalidate name="form" class="form-validation">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3">
                                        <label>{{'common.tableAndForm.name.name'|translate}}:</label>
                                    </div>
                                    <div class="col col-sm-9">
                                        <input class="form-control" data-ng-model="selected.item.name" name="name" required/>
                                        <small class="text-danger" data-ng-if="form.name.$dirty && form.name.$error.required" >
                                            This is a required field!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3">
                                        <label>{{'organization.organizationOwner'|translate}}:</label>
                                    </div>
                                    <div class="col col-sm-9">
                                        <input class="form-control" data-ng-model="selected.item.description" name="description" required/>
                                        <small class="text-danger" data-ng-if="form.description.$dirty && form.description.$error.required" >
                                            This is a required field!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3"><label>{{'common.tableAndForm.vatNumber.name'|translate}}:</label></div>
                                    <div class="col col-sm-9">
                                        <input class="form-control" data-ng-model="selected.item.vatNumber" data-ng-pattern="pattern.VATNUMBER" name="vatNumber" required/>
                                        <small class="text-danger" data-ng-if="form.vatNumber.$dirty && form.vatNumber.$error.required" >
                                            This is a required field!
                                        </small>
                                        <small class="text-danger" data-ng-if="form.vatNumber.$error.pattern" >
                                            The VAT number has to be valid!
                                            Learn more at <a target="_blank" href="https://www.vatlive.com/eu-vat-rules/eu-vat-number-registration/eu-vat-number-formats/">EU VAT number formats</a>.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3"><label>{{'common.tableAndForm.legalResidence.name'|translate}}:</label></div>
                                    <div class="col col-sm-9">
                                        <input class="form-control" data-ng-model="selected.item.legalResidence" data-ng-pattern="pattern.LEGALRESIDENCE" name="legalResidence" required/>
                                        <small class="text-danger" data-ng-if="form.legalResidence.$dirty && form.legalResidence.$error.required" >
                                            This is a required field!
                                        </small>
                                        <small class="text-danger" data-ng-if="form.legalResidence.$error.pattern" >
                                            The postal address can be maximum 100 characters long!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3"><label>{{'common.tableAndForm.email.name'|translate}}:</label></div>
                                    <div class="col col-sm-9">
                                        <input class="form-control" type="email" placeholder="example@example.com" data-ng-model="selected.item.email" data-ng-pattern="pattern.EMAIL" name="email" required/>
                                        <small class="text-danger" data-ng-if="form.email.$dirty && form.email.$error.required" >
                                            This is a required field!
                                        </small>
                                        <small class="text-danger" data-ng-if="form.email.$error.pattern" >
                                            The email has to be valid!
                                            Learn more at <a target="_blank" href="https://en.wikipedia.org/wiki/Email_address">Email address</a>.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3">
                                        <label>{{'common.tableAndForm.phone.name'|translate}}:</label>
                                    </div>
                                    <div class="col col-sm-9">
                                        <input class="form-control" type="tel" placeholder="+14155552671" data-ng-model="selected.item.phone"
                                               data-ng-pattern="pattern.PHONE" name="phone" required/>
                                        <small class="text-danger" data-ng-if="form.phone.$dirty && form.phone.$error.required" >
                                            This is a required field!
                                        </small>
                                        <small class="text-danger" data-ng-if="form.phone.$dirty && form.phone.$error.pattern">
                                            The phone number has to be valid!
                                            Learn more at <a target="_blank" href="https://en.wikipedia.org/wiki/E.164">E.164</a>.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3"><label>{{'common.tableAndForm.parentOrganization.name'|translate}}:</label></div>
                                    <div class="col col-sm-9" data-ng-if="selected.item.id != null">
                                        <span class="form-control">{{selected.item.organization.name }}</span>
                                    </div>

                                    <div class="col col-sm-9" data-ng-if="selected.item.id == null">
                                        <select class="form-control" name="parent"
                                                data-ng-model="selected.item.organization.id" required
                                                data-ng-options="organization.id as ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' | limitTo: kinshipLevels.get(organization.id)*3)  + organization.name for organization in possibleOrganizations">
                                        </select>
                                        <small class="text-danger" data-ng-if="form.parent.$dirty && form.parent.$error.required" >
                                            This is a required field!
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <hr/>
                                <button class="btn btn-line-primary btn-sm pull-right" data-ng-click="addPlace()">
                                    <i class="glyphicon glyphicon-plus"></i> aggiungi sede
                                </button>
                                <h4>
                                    Sedi produttive</h4>
                                <br/>
                            </div>


                            <div class="panel panel-default  animate-if" data-ng-repeat="place in places" data-ng-if="!place.deleted">
                                <div class="panel-body">
                                    <organization-place data-ng-model="place"></organization-place>

                                    <button class="btn btn-line-danger btn-sm" data-ng-click="removePlace(place)">
                                        <i class="glyphicon glyphicon-trash"></i> Elimina sede
                                    </button>
                                </div>
                            </div>

                            <div class="alert alert-link alert-info" data-ng-if="!places || places.length == 0">
                                Nessuna sede produttiva definita per questa organizzazione
                            </div>


                            <!-- ------------- certifications --------------------- -->
                            <div>
                                <hr/>
                                <button class="btn btn-line-primary btn-sm pull-right" data-ng-click="addCertification()">
                                    <i class="glyphicon glyphicon-plus"></i> aggiungi certificazione
                                </button>
                                <h4>
                                    Certificazioni</h4>
                                <br/>
                            </div>

                            <div class="panel panel-default animate-if" data-ng-repeat="certification in certifications" data-ng-if="!certification.deleted">
                                <div class="panel-body">
                                    <organization-certification data-ng-model="certification"></organization-certification>

                                    <button class="btn btn-line-danger btn-sm" data-ng-click="certification.deleted = true;">
                                        <i class="glyphicon glyphicon-trash"></i> Elimina certificazione
                                    </button>
                                </div>
                            </div>

                            <div class="alert alert-link alert-info" data-ng-if="!certifications || certifications.length == 0">
                                Nessuna certificazione definita per questa organizzazione
                            </div>

                            <!-- ------------- Allegati ---------------------

                            <div>
                                <hr/>
                                <button class="btn btn-line-primary btn-sm pull-right" data-ng-click="addAttachment()">
                                    <i class="glyphicon glyphicon-plus"></i> aggiungi allegato
                                </button>
                                <h4>
                                    Altri allegati</h4>
                                <br/>
                            </div>

 -->
                            <div>
                                <button class="btn btn-primary pull-right" type="button" data-ng-click="save(selected.item, form)">
                                    {{'common.button.form.save'|translate}} &nbsp; <i class="glyphicon glyphicon-floppy-disk"></i></button>
                                <button class="btn btn-default" type="button" ng-click="delete(selected.item)" data-ng-if="selected.item.id != null && selected.item.organization.id != null">
                                    {{'common.button.form.delete'|translate}} &nbsp; <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>