<div data-ng-if="selectedOrganization && loading">
    <br/><br/><br/><br/><br/>
    <h3 class="text-primary text-center">
        <i class="fa fa-2x fa-circle-o-notch fa-spin"></i><br/>
        {{'common.tableAndForm.loading.name'|translate}}...
    </h3>
    <br/><br/><br/><br/><br/>
</div>

<div class="training-home" data-ng-if="!loading">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="panel">
                <div class="panel-heading ng-binding">{{'nav.training.sub.commonSub.search'|translate}}</div>
                <div class="panel-body">
                    <div class="panel-search-section">
                        <div class="row">
                            <div class="col-xs-10">
                                <input id="searchUsers" type="text" data-ng-model="filter.keyword"
                                       class="form-control" placeholder="{{'training.panel.search.searchPlaceholder'|translate}}">
                            </div>
                            <div class="col-xs-2">
                                <div class="pull-right">
                                    <div class="pull-right btn btn-primary" ng-click="add()" role="button" tabindex="0">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div style="max-height: 100%">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                            <div class="filterbox-vertical" data-slim-scroll="" style="overflow: hidden; width: auto; height: 100%;">
                                <section class="panel panel-default mail-categories">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-class="{'active': selectedItem.id == item.id}"
                                            data-ng-click="edit(item)" data-ng-repeat="item in items | filter : itemsFilter | orderBy: 'name'">
                                            <a>{{item.name}}
                                                <small class="pull-right help-block">
                                                    <small><em>by</em> {{ item.organization.name }}</small>
                                                </small>
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2287px;">

                            </div>
                            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-6 col-lg-8" data-ng-if="selectedItem">
            <div class="panel">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-body media-middle">
                            <div class="media-heading">
                                <span>{{'nav.training.sub.commonSub.details'|translate}}</span>
                            </div>
                            <span style="text-transform: none">{{selectedItem.name}}</span>
                        </div>
                        <div class="media-right">
                            <div class="btn btn-default" data-ng-click="cancel()" role="button" tabindex="0">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="user-role-detail">
                        <form name="form" novalidate>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3"><label>{{'common.tableAndForm.title.name'|translate}}:</label></div>
                                    <div class="col col-sm-9">
                                        <input class="form-control" data-ng-model="selectedItem.name" name="name" required/>
                                        <small class="text-danger" data-ng-if="form.name.$dirty && form.name.$error.required">
                                            {{'common.tableAndForm.requiredField.name'|translate}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3"><label>{{'common.tableAndForm.description.name'|translate}}:</label></div>
                                    <div class="col col-sm-9">
                                        <textarea  class="form-control" data-ng-model="selectedItem.description" rows="5" name="description"></textarea>
                                        <small class="text-danger"
                                               data-ng-if="form.description.$dirty && form.description.$error.required">
                                            {{'common.tableAndForm.requiredField.name'|translate}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3">
                                        <label>{{'common.tableAndForm.type.name'|translate}}:</label></div>
                                    <div class="col col-sm-9">
                                        <select name="type" required
                                                class="form-control"
                                                data-ng-model="selectedItem.shape.type"
                                                data-ng-options="type.value as type.name for type in shapeTypes"
                                                data-ng-disabled="shapeTypes.length == 1">
                                        </select>
                                        <small class="text-danger"
                                               data-ng-if="form.type.$dirty && form.type.$error.required">
                                            {{'common.tableAndForm.requiredField.name'|translate}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-sm-3">
                                        <label>{{'common.tableAndForm.color.name'|translate}}:</label></div>
                                    <div class="col col-sm-9">
                                        <input type="color" name="color" required
                                               class="form-control"
                                               data-ng-model="selectedItem.shape.color"/>
                                        <small class="text-danger"
                                               data-ng-if="form.color.$dirty && form.color.$error.required">
                                            {{'common.tableAndForm.requiredField.name'|translate}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div>
                            <button class="btn btn-primary pull-right" type="button" ng-click="save(selectedItem, form)"
                                    data-ng-disabled="!isValid(selectedItem)">
                                {{'common.button.form.save'|translate}} &nbsp; <i class="glyphicon glyphicon-floppy-disk"></i></button>
                            <button class="btn btn-default" type="button" ng-click="delete(selectedItem)" data-ng-if="selectedItem.id != null">
                                {{'common.button.form.delete'|translate}} &nbsp; <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>