<div class="prerequisite-layout full-width">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div>
				{{'nav.prerequisites.sub.layouts'|translate}}
				<div class="inline" style="margin-left:20px">
					<button class="btn btn-sm btn-default" data-ng-class="{'btn-primary' : command.action == Command.action.ADD}"
							data-ng-click="addLayout()">{{'common.button.form.add'|translate}}&nbsp;&nbsp;
						<i class="glyphicon glyphicon-pencil"></i>
					</button>

					<button class="btn btn-sm btn-default" data-ng-class="{'btn-primary' : mode == MODE.SHOW_PROCESS_CHECKS}"
							data-ng-click="showProcessChecks()">{{'common.button.prerequisites.processCheck'|translate}}&nbsp;&nbsp;
						<i class="glyphicon glyphicon-flag"></i>
					</button>

					<button class="btn btn-default" data-ng-class="{'btn-primary' : mode == MODE.SHOW_ANALYSIS}"
							data-ng-click="showAnalysis()">{{'common.button.prerequisites.analysis'|translate}}&nbsp;&nbsp;
						<i class="glyphicon glyphicon-duplicate"></i>
					</button>

				</div>
			</div>
		</div>
		<div class="panel-body">
			<plan data-command="command"
				  data-ng-if="mode == MODE.SHOW_PLAN"
				  data-items="layouts"
				  data-on-save="onSaveLayout(item, floor)"
				  data-on-delete="onDeleteLayout(item, callback)"></plan>


			<prerequisite-process-checks data-ng-if="mode == MODE.SHOW_PROCESS_CHECKS" data-prerequisite-type="prerequisiteType">
			</prerequisite-process-checks>

			<prerequisite-analysis data-prerequisite-type="command.type" data-ng-model="items"  data-ng-if="mode == MODE.SHOW_ANALYSIS">
			</prerequisite-analysis>

		</div>
	</div>
</div>