<div class="organization-certification">

    <ng-form name="certificationForm">
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-3">
                    <label>{{'common.tableAndForm.denomination.name'|translate}}:</label>
                </div>
                <div class="col col-sm-9" data-ng-if="readonly">
                    {{ certification.name }}
                </div>
                <div class="col col-sm-9" data-ng-if="!readonly">
                    <input class="form-control" type="text" data-ng-model="certification.name"
                           name="name" required/>
                    <small class="text-danger" data-ng-if="certificationForm.name.$dirty && certificationForm.name.$error.required" >
                        {{'common.tableAndForm.requiredField.name'|translate}}
                    </small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col col-sm-3">
                    <label>{{'common.tableAndForm.issuingAuthority.name'|translate}}:</label>
                </div>
                <div class="col col-sm-9" data-ng-if="readonly">
                    {{ certification.authority }}
                </div>
                <div class="col col-sm-9" data-ng-if="!readonly">
                    <input class="form-control" type="text" data-ng-model="certification.authority"
                           name="authority" required/>
                    <small class="text-danger" data-ng-if="certificationForm.authority.$dirty && certificationForm.authority.$error.required" >
                        {{'common.tableAndForm.requiredField.name'|translate}}
                    </small>
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col col-sm-6">
                            <label>{{'common.tableAndForm.issued.name'|translate}}:</label>
                        </div>
                        <div class="col col-sm-6" data-ng-if="readonly">
                            {{ certification.date | date : 'dd-MM-yyyy' }}
                        </div>
                        <div class="col col-sm-6" data-ng-if="!readonly">
                            <p class="input-group">
                                <input type="text" class="form-control" name="date"
                                       uib-datepicker-popup="dd-MMM-yyyy"
                                       datepicker-mode="certification.date == null ? 'year': 'day'"
                                       data-ng-model="certification.date"
                                       is-open="startDateOpened"
                                       close-text="Close" required
                                />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-ng-click="startDateOpened = true;">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </p>
                            <small class="text-danger" data-ng-if="certificationForm.date.$dirty && certificationForm.date.$error.required" >
                                {{'common.tableAndForm.requiredField.name'|translate}}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col col-sm-6">
                            <label>{{'common.tableAndForm.expiring.name'|translate}}:</label>
                        </div>
                        <div class="col col-sm-6" data-ng-if="readonly">
                            {{ certification.expiryDate | date : 'dd-MM-yyyy' }}
                        </div>
                        <div class="col col-sm-6" data-ng-if="!readonly">
                            <p class="input-group">
                                <input type="text" class="form-control" name="expiryDate"
                                       uib-datepicker-popup="dd-MMM-yyyy"
                                       data-ng-model="certification.expiryDate"
                                       datepicker-mode="certification.expiryDate == null ? 'year': 'day'"
                                       is-open="expiryDateOpened"
                                       data-ng-click="expiryDateOpened = true;"
                                       close-text="Close" required
                                />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-ng-click="expiryDateOpened = true;">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                            </p>
                            <small class="text-danger" data-ng-if="certificationForm.expiryDate.$dirty && certificationForm.expiryDate.$error.required" >
                                {{'common.tableAndForm.requiredField.name'|translate}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>

          </div>


        <div class="form-group">
            <div class="row">
                <div class="col col-sm-3">
                    <label>{{'common.tableAndForm.document.name'|translate}}:</label>
                </div>

                <div class="col col-sm-9" data-ng-if="readonly">
                    <attachment name="attachment"
                                data-ng-model="certification.attachment" readonly></attachment>
                </div>

                <div class="col col-sm-9" data-ng-if="!readonly">
                    <attachment name="attachment"
                                data-ng-model="certification.attachment"></attachment>
                </div>
            </div>
        </div>

        <!--

        certification.name = obj.name;
                certification.description = obj.description;
                certification.authority = obj.authority;
                certification.date = obj.date;
                certification.expiryDate = obj.expiryDate;
                certification.context = Context.parse(obj.context);

        -->

    </ng-form>
</div>