<div data-ng-if="selectedOrganization && loading">
	<br/><br/><br/><br/><br/>
	<h3 class="text-primary text-center">
		<i class="fa fa-2x fa-circle-o-notch fa-spin"></i><br/>
		{{'common.tableAndForm.loading.name'|translate}}...
	</h3>
	<br/><br/><br/><br/><br/>
</div>

<div class="haccp-home"  data-ng-if="!loading">

	<div class="row">
		<div class="col col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					{{'common.disease.riskLevel.veryHigh'|translate}}
				</div>
				<div class="panel-body">
					<div style="max-height: 100%">
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
							<div class="filterbox-vertical" data-slim-scroll="" style="overflow: hidden; width: auto; height: 100%;">
								<section class="panel panel-default mail-categories">
									<ul class="list-group">
										<li class="list-group-item danger"
											data-ng-click="view(item)"
											data-ng-repeat="item in items | filter : riskDangerFilter">
											<a>{{item.name }}
												<span class="pull-right">
													{{ 'common.tableAndForm.danger.type.' + item.type | translate }}</span>
											</a>
										</li>
									</ul>
								</section>
							</div>
							<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2287px;">
							</div>
							<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--<div class="panel panel-warning">-->
				<!--<div class="panel-heading">-->
					<!--{{'common.disease.riskLevel.high'|translate}}-->
				<!--</div>-->
				<!--<div class="panel-body">-->
					<!--<div style="max-height: 100%">-->
						<!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">-->
							<!--<div class="filterbox-vertical" data-slim-scroll="" style="overflow: hidden; width: auto; height: 100%;">-->
								<!--<section class="panel panel-default mail-categories">-->
									<!--<ul class="list-group">-->
										<!--<li class="list-group-item warning"-->
											<!--data-ng-click="view(item)"-->
											<!--data-ng-repeat="item in items | filter : riskWarningFilter">-->
											<!--<a>{{item.name }}-->
												<!--<span class="pull-right">{{ item.type}}</span>-->
											<!--</a>-->
										<!--</li>-->
									<!--</ul>-->
								<!--</section>-->
							<!--</div>-->
							<!--<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2287px;">-->
							<!--</div>-->
							<!--<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>

		<div class="col col-md-6" data-ng-if="selectedItem">
			<div data-ng-if="loadingDiagrams">
				<br/><br/><br/><br/><br/>
				<h3 class="text-primary text-center">
					<i class="fa fa-2x fa-circle-o-notch fa-spin"></i><br/>
					{{'common.tableAndForm.loading.name'|translate}}...
				</h3>
				<br/><br/><br/><br/><br/>
			</div>
			<div class="panel" data-ng-class="'panel-' + riskMapColor[riskMap[selectedItem.riskValue]]"  data-ng-if="!loadingDiagrams">
				<div class="panel-heading">{{ selectedItem.name }}
					<span class="pull-right">{{selectedItem.type}}</span>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="col col-md-4"><label>{{'common.disease.description'|translate}}:</label></div>
							<div class="col col-md-8">
								<span data-ng-bind-html="selectedItem.description"></span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col col-md-4"><label>{{'common.disease.controlMeasure'|translate}}:</label></div>
							<div class="col col-md-8">
								<span data-ng-bind-html="selectedItem.controlMeasure"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col col-md-4"><label>{{'common.disease.criticalLimit'|translate}}:</label></div>
							<div class="col col-md-8">
								<span data-ng-bind-html="selectedItem.criticalLimit"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col col-md-4"><label>{{'common.disease.acceptanceLimit'|translate}}:</label></div>
							<div class="col col-md-8">
								<span data-ng-bind-html="selectedItem.acceptanceLimit"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col col-md-4"><label>{{'common.disease.procedures'|translate}}:</label></div>
							<div class="col col-md-8">
								<span data-ng-bind-html="selectedItem.procedures"></span>
							</div>
						</div>
					</div>
					<hr>

					<h5 class="text-uppercase">{{ 'common.tableAndForm.involvedDiagrams.name' | translate }}</h5>
					<div class="mail-categories">
						<ul class="list-group">
							<li class="list-group-item"
							    data-ng-repeat="diagram in getDiagramsByDanger()"
							    data-ng-click="showDiagram('#/prerequisite/flows', diagram)"
							    data-ng-class="{'bg-danger': diagram.risk === true}"
								role="button">
								<a>{{diagram.name}}
									<ul>
										<li data-ng-repeat="element in getEntitiesInDiagram(diagram)">
											{{element.name}}
										</li>
									</ul>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>