
<div style="margin-left:{{deep*5}}px">
	<button class="btn btn-link" type="button" data-toggle="collapse" data-target=".collapse_{{item.id}}" aria-expanded="false" aria-controls="collapseExample">
			
			<label>{{item.label}} <!--{{item.id}} --><label> 

			<span class="badge badge-info" ng-if="documents[item.id]" >{{documents[item.id].items.length}}</span>

	</button>

	<div ng-if="documents[item.id]" class='collapse in collapse_{{item.id}}'>
			
	
			<table class="table table-striped">
				<tr ng-repeat="doc in documents[item.id].items">
					
					<td>{{doc.title}}</td>
					<td>{{doc.date | date : 'dd-MMM-yyyy'}}</td>
					<td>v. {{doc.version}}</td>
					<td>
						<span class="badge" ng-class="doc.status == 0 ? 'badge-success' :	
							doc.status == 1 ? 'badge-warning' : 'badge-info'">
					 </span>
					</td>
					<td>{{doc.filename}}</td>
					<td>{{doc.fileSize }}KB</td>			
					<td><a class="btn btn-small btn-default" title="{{'common.button.form.download'|translate}}"><i class="glyphicon glyphicon-download-alt{{'common.button.form.download'|translate}}</a></td>
				</tr>
			</table>
		<!--	title : "Proc.Reg. Sicilia 123/2015",
    				date: new Date(),
    				version: 1.0,
    				filename: "proc1.pdf",
    				fileSize: 100,
    				status: 0
		-->
	</div>

	<!-- nodi figli inseriti tramite directive -->
</div>

