<div class="prerequisites-audits-detail-modal">
	<div class="modal-header">
		<h3 class="modal-title" data-ng-if="editMode">{{ originalItem.id != null ? 'Edit' : 'Add new'}} Process check</h3>
		<h3 class="modal-title" data-ng-if="!editMode">Details</h3>
	</div>
	<div class="modal-body">
		<form novalidate>

			<!--
			 this.prerequisiteType = prerequisiteType;
        this.frequency = new Frequency();
        this.type = null;
        this.name = null;
        this.description = null;
			-->
			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>Name:</label></div>
					<div class="col col-sm-10" data-ng-if="editMode">
						<input type="text" class="form-control" data-ng-model="item.name"/>
					</div>
					<div class="col col-sm-10" data-ng-if="!editMode">
						<span>{{item.name}}</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>Type:</label></div>
					<div class="col col-sm-10">
						<select class="form-control" data-ng-model="item.type" data-ng-disabled="!editMode"
								data-ng-options="type as ('processCheck.type.'+type | translate) for type in processCheckTypes">
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>Description:</label></div>
					<div class="col col-sm-10">
						<div data-ng-if="editMode">
							<textarea class="form-control" rows="10" data-ng-model="item.description"></textarea>
						</div>
						<div data-ng-if="!editMode">
							<pre>{{item.description}}</pre>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col col-sm-2"><label>Frequency:</label></div>
					<div data-ng-if="editMode">
						<div class="col-sm-10">
							<div class="row">
								<!--
								<div class="col col-sm-2">
									<label class="ui-checkbox">
										<input type="checkbox" data-ng-model="item.frequency.asNeeded" data-ng-value="true" data-ng-disabled="item.frequency.justOnce"/>
										<span>as needed</span>
									</label>
								</div>
								<div class="col col-sm-2">
									<label class="ui-checkbox">
										<input type="checkbox" data-ng-model="item.frequency.justOnce" data-ng-value="true" data-ng-disabled="item.frequency.asNeeded"/>
										<span>just once</span>
									</label>
								</div>
								-->
								<div class="col col-sm-2 text-right">
									Every:
								</div>
								<div class="col col-sm-2">
									<input type="number" class="form-control"  data-ng-disabled="item.frequency.asNeeded || item.frequency.justOnce"
										   data-ng-model="item.frequency.value" />
								</div>
								<div class="col col-sm-2">
									<select class="form-control" data-ng-model="item.frequency.scale" data-ng-disabled="item.frequency.asNeeded || item.frequency.justOnce"
											data-ng-options="scale as scale for scale in frequencyScales">
									</select>
								</div>
							</div>
						</div>
					</div>
					<div data-ng-if="!editMode">
						<div class="col col-sm-10">
							<span>{{item.frequency | frequency }}</span>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div data-ng-if="editMode">
			<button class="btn btn-primary pull-right" type="button" ng-click="save()" data-ng-disabled="item.type == null || item.name == null">Save</button>
			<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		</div>
		<div data-ng-if="!editMode">
			<button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
		</div>
	</div>
</div>