
<div class="print delega">

    <div class="panel panel-primary title">
        <div class="panel-heading">
            Delega
        </div>
    </div>

    <br/><br/>
    <div style="font-size: 1.6em">

        Il sottoscritto Sig. <strong class="text-nowrap" data-ng-bind-html="organization.description"></strong>, titolare ed amministratore della<br/>

        <strong  class="text-nowrap" data-ng-bind-html="organization.name"></strong>

        affida al Sig. <strong  class="text-nowrap">{{currentUser.firstname}} {{currentUser.lastname}}</strong>

        l'incarico di Responsabile del Sistema di Autocontrollo della ditta stessa a decorrere dalla data

        <strong> {{ date | date: 'dd/MM/yyyy' }}</strong>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        Firma  _______________________________
        <br/><br/>

        Firma per accettazione dell'incarico _______________________________
        <br/><br/><br/>

    </div>
</div>

