
<div class="print personale">

    <div class="panel panel-primary title">
        <div class="panel-heading">
            Scheda 1 - Elenco del personale
        </div>
    </div>

    <div>
        <table class="table table-primary table-condensed">
            <thead>
            <tr>
                <th class="text-nowrap">{{'Nome e Cognome'|translate}}</th>
                <th class="text-nowrap">{{'Ruolo/mansione'|translate}}</th>
                <th >{{'Data Rilascio corso di Formazione'|translate}}</th>
                <th>
                    {{'Scadenza della Formazione'|translate}}<br/>
                    <small><small>(5 anni dalla data del rilascio - D.T.R.559/2008)</small></small>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.role.name}}</td>
                <td class="text-center">
                    <span data-ng-if="item.trainings[0]">
                    {{ item.trainings[0].insertTime | date : 'dd/MM/yyyy'  }}
                    </span>

                    <span style="color:red" data-ng-if="!item.trainings[0]">nessuna formazione</span>
                </td>

                <td class="text-center">
                    <span data-ng-if="item.trainings[0]">
                        {{ item.trainings[0].insertTime + (5*365*24*60*60*1000) | date : 'dd/MM/yyyy'  }}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>